#map{
    position: relative;
    width: 100%;
    height: 100vh;
}
html, body{
    margin: 0;
    padding: 0;
}
.inputDivBG {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1000;
    background: #faf0e6;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 22%;
    height: 80%;
    border: solid 5px olive;

}
.fromToInputTop {
    position: relative;
    left: 1%;
    width: 95%;
    height: 25%;
    border: 0;
    padding: 5px;
    border-bottom: 2px solid #d9b99b;
    background-color: #faf0e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fromToInputBottom {
    position: relative;
    left: 1%;
    width: 95%;
    height: 25%;
    border: 0;
    padding: 5px;
    border-bottom: 2px solid #d9b99b;
    background-color: #faf0e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fromToInputTop:focus {
    width: 95%;
    border: 0;
    padding: 5px;
    border-bottom: 2px solid #d9b99b;
    background-color: #d9b99b;
    outline: none;
}
.fromToInputBottom:focus {
    width: 95%;
    border: 0;
    padding: 5px;
    border-bottom: 2px solid #d9b99b;
    background-color: #d9b99b;
    outline: none;
}


.list-item {
    padding: 10px;
    border: 1px solid black;
}


.suggestion-item {
    padding: 10px;
    border-bottom: 2px solid #d9b99b;
}

.suggestion-item:last-child {


}
.suggestion-item:first-child {

}

.suggestionListParent {
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
    width: 95%;
}

.fromToBG{
    padding: 10px;
    background-color: olive;
    height: 20%;

}

.Logo {
    min-width: 100%;
    min-height: 20%;
    text-align: center;
    font: bold 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.marker {
    transform: translate(-50% , -100%);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;

}
.marker.bike{
    background-image: url('../styles/BikeMarker.png');
}
.marker.station{
    background-image: url('../styles/StationMarker.png');
}