#map{
    position: relative;
    width: 100%;
    height: 100vh;
}
html, body{
    margin: 0;
    padding: 0;
}
.inputDivBG {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1000;
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
    width: 25%;
    height: 90%;
    translate: -6px -6px;
    background: #ff66a3;
    border: 3px solid #000000;
    //box-shadow: 12px 12px 0 #000000;
    overflow: hidden;
    transition: all 0.3s ease;

}
.fromToInput {
    margin-top: 5%;
    width: 85%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: 5px solid #93023f;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 5px 5px 0 #000;
}
.fromToInput:focus {

    background: lightgray;
    box-shadow: 12px 12px 0 #000;
}

.suggestion-item {
    padding: 10px;
    border-bottom: 2px solid black;
}


.suggestionListParent {
    margin-left: 2.5%;
    margin-right: 2.5%;
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
    width: 95%;
}

.listBackground{
    display: flex;
    flex-direction: column;
    border-top: 5px solid #93023f;

    margin-top: 5%;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 900;
    width: 100%;
    height: 80%;
    background: whitesmoke;
    padding: 5px 12px;
    color: #000000;

    overflow: scroll;
}

.Logo {

    box-shadow: 5px 5px 0 #000;
    min-width: 100%;
    min-height: 20%;
    text-align: center;
    font: bold 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 5px solid #93023f;
}

.marker {
    transform: translate(-50% , -100%);
    width: 10px;
    height: 10px;
    background-size: contain;

    border: 2px solid #93023f;
    border-radius: 50%;
    background: #ff66a3;


}
.marker.bike{
 //   background-image: url('../styles/BikeMarker.png');
}
.marker.station{
 //   background-image: url('../styles/StationMarker.png');
}
.marker.destination{
  //  background-image: url('../styles/DestinationMarker.png');
}
.marker.from{
  //  background-image: url('../styles/FromMarker.png');
}
.marker.to{
   // background-image: url('../styles/ToMarker.png');
}


.logo {
    padding: 10px 40px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 900;

    border: 5px solid #93023f;
    background-color: whitesmoke;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 10px 10px 0 #000;
}
.slide-in{
    animation: slideIn 0.5s ease-out forwards;
    opacity: 0;
}
.slide-out{
    animation: slideIn 0.5s ease-out forwards;
    animation-direction: reverse;
}
@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }

}
.btn {
    align-self: center;

    width: 90%;
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 15px;
    border: 5px solid #93023f;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    background: #ff66a3;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #93023f;
    transform: translateY(100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}
.station-popup {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 900;
    background: #ff66a3;
}

